body{
  /* overflow-y: hidden; */
}

.App {
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding-top: 100px;

}

.PageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .PageTitle {
    font-size: 7vw;
  }
}
