*{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
  ;
}
.App {
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding: 100px 0;


}

.PageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .PageTitle {
    font-size: 7vw;
  }
}
